body{
    font-family: "PT Serif", serif;
    overflow: hidden;
}  
#home{
    background: linear-gradient(rgba(24, 62,53 ,0.6),rgba(147, 197,114 , 0.7)),url(../imgs/meal-1.jpg);
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: #fff;
    position: relative;
}
#home-content{
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-left: 0px;
}
#home-content h2{
    font-size: 100px;
    font-weight: 500;
    line-height: 82px;
    margin-bottom: 20px;
}
#leftMenu {
    
    height:100% ;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    transition: 0.5s;
}
#leftMenu .openNav{align-self: center}
#leftMenu .openNav span{
    background-color: #ffd8a9;
    color: #0f3959;
    /* background-image: linear-gradient(45deg,#d2e3cb,#739072); */
    padding: 12px;
    margin-left: 10px;
    border-radius: 40px;
    font-size:28px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 10px, rgba(0, 0, 0, 0.12) 0px -3px 10px, rgba(0, 0, 0, 0.12) 0px 0px 4px, rgba(0, 0, 0, 0.17) 0px 10px 10px, rgba(0, 0, 0, 0.09) 0px -2px 10px;
}
.sidenav{
    display: none;
    width: 0px;
    padding-top: 60px;
    background-image: linear-gradient(45deg,#fff38e,#095a55);
    position: relative;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a {
    padding: 15px 8px 10px 25px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
    color: white;
}
.active{
    color:#095a55  !important;
    font-weight: bolder;
}
#sliderDown {
    margin:20px 0px;
    background-image: linear-gradient(45deg,#095a55,#fff38e);
}
#sliderDown .container{
    padding: 100px 0px;
    width: 60%;
}
#sliderDown h3 {
    padding: 10px;
    margin: 0;
    background-color: #095a55;
    cursor: pointer;
    color: white;
}
.meal-img{
    position: relative;
    padding: 10px;
    background-color: #fff38e;
    display: none;
}
.first{
    display: block;
}
.meal-data{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 15px;
    background-color: rgba(255,255,255,.5);
}

#count {
    background: linear-gradient(rgba(24, 62,53 ,0.9),rgba(147, 197,114 , 0.7)),url(../imgs/360_F_380583179_jS9wdNhWZCZyR9P55GnPLKJGEnwhL8Qv.jpg);
    position: relative;
    margin:20px 0px;
    
}
#count .head h2{
    font-size: 60px;
    font-weight: 500;
}
#count .container{
    height: 250px;
}
.data {
    padding: 30px 0px;
    border: 2px solid #FFF;
    font-weight: 500;
    font-size: 30px;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(45deg,#fff38e,#095a55);
}

#contact .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
}
.contactInfo{
    position: absolute;
    top:40px;
    width:350px;
    height: calc(100% - 80px);
    background-color: #095a55;
    z-index: 55;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.contactInfo h2{
    font-size: 30px;
    font-weight: 500;
}
ul{
    list-style: none;
}
ul li{
    margin: 20px 0px;
    cursor: pointer;
}
ul li i{
    margin-right: 5px;
    font-size: 22px;
}
ul li span{
    font-weight: 300;
}
.social{
    margin-left: 15px;
    display: flex;
}
.social span{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 50%;
    transition: all .5s;
}
.social i{
    font-size: 30px;
}
.social span:hover{
    background-color: #fff38e;
}
.social span:hover i{
    color: #095a55 !important;
}
.contactForm{
    position: absolute;
    padding: 70px 50px ;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background-color: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}
.contactForm h2{
    color: #0f3959;
    font-size: 30px;
    font-weight: 500;
}
.formBox{
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.inputBox{
    margin-bottom: 35px;
    position: relative;
}
.inputBox input, .inputBox textarea{
    width: 100%;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 2px solid #777;
}
.inputBox textarea{
    height: 100px;
}
.inputBox span{
   position: absolute;
   left: 0;
   padding: 5px 0px;
   pointer-events: none;
   font-size: 18px;
    font-weight: 300;
    transition: .3s;
}
.inputBox input:focus ~ span
, .inputBox textarea:focus ~ span
{
    transform: translateY(-20px);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #095a55;
}
.inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background-color: #095a55;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    transition: all .5s;
}
.inputBox input[type="submit"]:hover{
    background-color: #0d948b;
}
#loading{
    background-color: #095a55;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
}
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }